body {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}
.weather {
  width: 1350px;
  height: 590px;
  margin: 5px;
  border: 3px solid rgb(88, 88, 218);
}
.div-weather {
  background-image: url(../src/assets/Dashky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 590px;
  position: relative;
}
.div2-weather {
  position: absolute;
  margin: 40px 107px;
  height: 500px;
  width: 1100px;
  border: 10px solid rgba(247, 223, 178, 0.63);
  border-radius: 20px;
  background-image: url(../src/assets/Ichki.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 495px;
}
